<footer class="border-top text-muted bg-light">
            <div class="container">
                <div class="row py-3">
                    <div class="col-12 col-md-4 text-center">
                        &copy;2024-Astronautas SA <br>
                        Blog IMEL <br>
                    </div>
                    
                    <div class="col-12 col-md-4 text-center">
                        <a href="" class="text-decoration-none text-dark">
                            Termos de uso
                        </a><br>
                        <a href="" class="text-decoration-none text-dark">
                          Politicas de Privacidade
                        </a>
                    </div>
                    
                    <div class="col-12 col-md-4  text-center">
                        <div class="col-12 col-md-4 text-center">
                            Conctatos <br>

                            <a href="#">
                            
                            <i class="bi bi-envelope sf"  style="font-size:24px; line-height:24px; cursor:pointer;"></i>
                            </a>
                                
                        <a href="#">
                            <i class="bi bi-facebook sf "  style="font-size:24px; line-height:24px; cursor:pointer;"></i>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>