<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="GbB6Bxo2lyIC_ksyOATe3c3R2LBpmb9EzRIMnv522uE" />
    <meta name="Keywords" content="Blog,IMEL,Instituto Medio de economia de Luanda">
    <meta name="description" content="A maior comunidade estudantil digital de Angola ">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
      <link rel="shortcut icon" href="/Imgs/BL.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
    
   {{!- Atributo style  é um objecto que armazena um array de objectos Ex: style:  [ {link:estilosDinamico.css}] !-}}
    {{!- nesse caso ele vai criar links css dinamincamente de acordo com o valor do objecto Link !-}}
    {{! como ficará <link rel="stylesheet" href="/css/estilosDinamico}}
    {{#each style}}
    <link rel="stylesheet" href="/{{Link}}">
    {{/each}}
    <title>Blog IMEL</title>
</head>

<body>

<div class="d-flex flex-column wrapper">
    
   
    {{>_navbar}}
   
    {{{body}}}
    
    {{>_footer}}
</div>


    {{!-- Rotina para criar os links js dinamicamente !--}}
    <script src="/scripts/modo_escuro.js"></script>
    {{#each script}}
    <script src="/{{linkScrpt}}"></script>
    {{/each}}
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
<script defer src="/_vercel/insights/script.js"></script>
</body>

</html>