<main class="flex-fill">
    <div class="contaneir">
 <div class="row justify-content-md-center ">
                    <h1 class="titulos">Denunciar post</h1>
                    <div class="col-12 col-sm-6">
                    <form action="#" method="post">

                        <p class="lead">Digite a sua denúncia por favor expecifique o titulo e autor do post ou comentário que prentende denuciar e explique a situação"</p>

                        <div class="form-floating">
                            <textarea placeholder=" " name="conteudo_Denucia"  class="form-control mb-3" style="height: 200px;"></textarea>
                             <label for="corpoP">Digite Aqui da denúncia</label> 
                        </div>
                        
                        <div class="inputs">
                            <input type="submit" class="btn btn-dark mt-2 " id="ca" value="Enviar">
                        </div>
                        </form>
                    </div>
                </div>

    </div>

</main>