<main class="flex-fill">
    <div class="container">
        <h1 class="text-center mt-3">Serviço temporariamente indisponível </h1>

          <div class="w-100 h-100 d-flex flex-column align-items-center">
                <img src="/Imgs/404.gif" alt="site indisponivel">
          </div>  
    </div>
</main>

