.dark  .active {
    background-color: #0D1117 !important;
    color: #E6EDF3 !important; 
   
}
.dark .nav-tabs a{
    color:#E6EDF3 !important;
}
.nav-tabs a {
    border-bottom:none!important;
}
.quadradoVerde{
    width: 20px;
    height: 20px;
    border: solid 1px #2DA44E;
    background-color: #2DA44E;
    border-radius: 5px;
}