.dark .EasyMDEContainer{
    background-color: #0D1117 !important;
}
.dark .editor-toolbar button i{
    color: #E6EDF3 !important;   
}
.dark .editor-toolbar button.active, 
.dark .editor-toolbar button:hover{
    background-color: #0D1117 !important;
}

.dark .CodeMirror, 
.dark .editor-preview{
    background-color: #0D1117;
    color: #E6EDF3 !important; 
   
}
.dark .editor-preview pre{
    color: blue !important;
}

