
    
         <main class="flex-fill">

            <div class="container">
                <div class="row">
                    <div class="col-12 text-start mt-5">
                       <h2 >{{Usuario.t_nome}}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center mt-3">
                        <ul class="nav nav-tabs justify-content-start">
                            <li class="nav-item">
                                <a class="nav-link  active" href="#" style="color: black; ">Perfil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/Perfil/publicacao"  style="color: black;">Publicações</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/Perfil/Comentario"  style="color: black;">Comentários</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-12 text-center mt-5">
                        <i class="bi bi-person-fill " style="font-size:64px; line-height:64px;"></i>
                    </div>
                </div> -->
                <div class="row">
                    {{#if Usuario}}
                    <div class="card-body mt-5 d-flex justify-content-center justify-content-md-start " style="border: 1px solid snow; border-radius: 5px;">
                        <p>{{Usuario.t_descricao}}</p>
                    </div>

                    {{else}}
                    <div class="col-12 text-center mt-5">
                      <button class="btn  btn-primary">Adicionar Bibiografia</button>
                    </div>

                    {{/if}}
                </div>
            
                </div>
                
            
        </main>


