
  

<!-- corpo  -->
         <main class="flex-fill">

            <div class="container">
                {{>_msg}}
                <div class="row">
                 <h1 class="titulos">Cadastro de Usuarios</h1>

                    <form class=" col-12 col-md-6 offset-md-3" action="/Usuario/cadastrar" method="post">            
                      

                        <div class="form-row  flex-column ">

                          <div class="form-group ">
                            <label for="inputNome">Nome</label>
                            <input type="text" class="form-control" id="inputNome" placeholder="Nome" autofocus name="nomeusario">
                          </div>

                            <div class="form-group">
                                <label for="inputEmail">Email</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="Digite aqui o Email" name="emailusuario" autocapitalize="off">
                              </div>
                            
                        
                              <div class="form-group">
                                <label for="inputSenha">Senha</label>
                                <input type="password" class="form-control" id="inputSenha" placeholder="Digite a sua senha " name="senhausuario" autocapitalize="off">
                              </div>
                              <div class="form-group">
                                <label for="inputSenha">Confirme a senha</label>
                                <input type="password" class="form-control" id="inputSenha" placeholder="Digite novamente a sua senha " name="senhausuario2" autocapitalize="off">
                              </div>
                        
                                   <div class="form-group ">
                            <label for="biosuario">Biografia</label>
                           <textarea name="dsc" class="form-control" placeholder="Fale um pouco sobre si" id="biosuario"></textarea>
                          </div>

                          <div class="form-group ">
                            <label for="inputTipoUsuario">Curso</label>
                            <select id="inputTipoUsuario" class="form-control" name="cursos" >
                              <option>Selecione um curso</option>
                              {{#each curso}}
                              <option value="{{n_idcurso}}">{{t_dsccurso}} </option>
                              {{/each}}
                            </select>
                          </div>


                        </div>

                     
                        <button type="submit" class="btn btn-dark mt-2">Cadastrar</button>
                      </form>

                </div>
                
            </div>
        </main>
 
