<main class="flex-fill">
    <div class="container">
       <h1>Termos de Uso do Blog</h1>

        <h2>1. Aceitação dos Termos de Uso</h2>
        <p>Ao acessar e usar este blog, você aceita e concorda em estar vinculado por estes termos de uso.</p>

        <h2>2. Conteúdo do Blog</h2>
        <p>Todo o conteúdo deste blog é para fins educativos. O não  não oferecemos garantias quanto à precisão ou confiabilidade de qualquer informação neste blog.</p>


        <h2>4. Comentários e Post</h2>
        <p>Os comentários e Post neste blog são bem-vindos. No entanto, o proprietário do blog se reserva o direito excluir qualquer comentário ou Post sem aviso prévio caso necessário.</p>

        <h2>5. Política de Privacidade</h2>
        <p>Nós não compartilha-mos suas informações pessoais com terceiros.</p>

        <h2>6. Alterações nos Termos de Uso</h2>
        <p>O proprietário deste blog se reserva o direito de alterar estes termos de uso a qualquer momento.</p>

        <p>Data da última atualização: 09-04-2024</p>
        <p>Se você tiver alguma dúvida sobre estes termos de uso, entre em contato conosco em <a href="mailto:[sabalovieira@gmail.com]">[Email de contato]</a>.</p>
    </div>
</main>