



   <main class="flex-fill">
            <div class="container">
                {{>_msg}}
                <div class="row justify-content-md-center ">
                    <h1 class="titulos">Publicar Novo conteúdo</h1>
                    <div class="col-12 col-sm-6">
                    <form action="/postagens/publicar" method="post" enctype="multipart/form-data">

                            <div class="form-floating">
                            <input type="text"  name="post_titulo" class="form-control mb-3" placeholder=" " id="titulopub" maxlength="150">
                                <label for="titulopub">Título</label>
                        </div>

                        <div class="form-floating">
                            <textarea placeholder=" " name="conteudo_post"  class="form-control mb-3" id="corpoP" style="height: 200px;"></textarea>
                            <!-- <label for="corpoP">Corpo da publicação</label> -->
                        </div>
                        
                        <div class="inputs">
                            <input type="submit" class="btn btn-dark mt-2 " id="ca" value="Publicar">
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
       